<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>balance</title>
</head>
<body>
    <h1>consulta el balance</h1>
    <form method="POST" action="{{url_for('check_balance')}}">
        <label for="account">nombre de cuenta</label>
        <input type="text" name="account" id="account" required/><br>
        <br/>
        <label for="amount">cantidad</label>
        <input type="numbre" step="0.01" name="amount" id="amount" required/><br>
        <br/>
        <button type ="submit">consulta cuenta</button>
    </form>
    <a herf="{{url_for('index')}}">volver al menu principal</a>
</body>
</html>